<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>CRUD</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">

    <!--AXIOS-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.17.1/axios.min.js"></script>

    <!--VALIDATE-->
    <script src="https://cdn.jsdelivr.net/npm/vee-validate@2.0.9/dist/vee-validate.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/vee-validate/2.0.9/locale/pt_BR.js"></script>

    <!--MASK-->
    <script src="https://cdn.jsdelivr.net/npm/v-mask/dist/v-mask.min.js"></script>

</head>
<body>


<div id="root">

    <div class="crud_header">
        <h1 class="left">VueJS CRUD</h1>
        <button class="right addnew" @click="showingModal = true;">Add</button>
        <div class="fix"></div>
    </div>

    <hr>
    <p class="errorMessage" v-if="errorMessage">{{errorMessage}}</p>
    <p class="successMessage" v-if="successMessage">{{successMessage}}</p>

    <table class="list">
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Celular</th>
            <th>Editar</th>
            <th>Deletar</th>
        </tr>
        <tr v-for="user in users">
            <td>{{user.id}}</td>
            <td>{{user.username}}</td>
            <td>{{user.email}}</td>
            <td>{{user.mobile}}</td>
            <td>
                <button @click="showingeditModal = true; selectUser(user)">Editar</button>
            </td>
            <td>
                <button @click="showingdeleteModal = true; selectUser(user)">Deletar</button>
            </td>
        </tr>
    </table>
    <div class="fix"></div>

    <!-- MODAL DE INSERCAO-->
    <div class="modal col-md-6" id="addmodal" v-if="showingModal">
        <div class="modalheading">
            <p class="left">Add Registro</p>
            <p class="right close" @click="showingModal = false;">x</p>
            <div class="fix"></div>
        </div>
        <div class="modalbody">
            <div class="modalcontent">
                <p class="errorMessage" v-if="errorMessage">{{errorMessage}}</p>
                <form id="apps" @submit.prevent="validateBeforeSubmit" ref="formsVue" novalidate>
                    <table class="form">
                        <tr>
                            <th>Nome</th>
                            <th>:</th>
                            <td><input type="text" name="Nome" placeholder="Nome"
                                       v-model="newUser.username"
                                       v-validate="'required|alpha_spaces|min:3'">
                                <span v-show="errors.has('Nome')"
                                      class="error">{{ errors.first('Nome') }}</span>
                            </td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <th>:</th>
                            <td><input type="email" name="Email" placeholder="Email" v-model="newUser.email"
                                       v-validate="'required|email|min:6'" v-on:change="getCountEmail()">
                                <span v-show="errors.has('Email')"
                                      class="error">{{ errors.first('Email') }}</span>
                            </td>
                        </tr>
                        <tr>
                            <th>Celular</th>
                            <th>:</th>
                            <td><input type="text" name="Celular" placeholder="Celular" v-model="newUser.mobile"
                                       v-mask="'(##) #####-####'">
                            </td>
                        </tr>
                    </table>

                    <div class="margin"></div>
                    <button class="center" @click="showingModal = false; saveUser();"
                            :disabled="!isValidSave">Inserir
                    </button>
                </form>
            </div>
        </div>
    </div>
    <!--FIM MODAL DE INSERCAO-->

    <!-- MODAL DE EDICAO-->
    <div class="modal col-md-6" id="editmodal" v-if="showingeditModal">
        <div class="modalheading">
            <p class="left">Editar Registro</p>
            <p class="right close" @click="showingeditModal = false;">x</p>
            <div class="fix"></div>
        </div>
        <div class="modalbody">
            <div class="modalcontent">
                <form id="appu" @submit.prevent="validateBeforeSubmit" ref="formsVue" novalidate>
                    <table class="form">
                        <tr>
                            <th>Nome</th>
                            <th>:</th>
                            <td><input type="text" name="Nome" placeholder="Nome" v-model="clickedUser.username"
                                       v-validate="'required|alpha_spaces|min:3'">
                                <span v-show="errors.has('Nome')"
                                      class="error">{{ errors.first('Nome') }}</span></td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <th>:</th>
                            <td><input type="email" name="Email" placeholder="Email" v-model="clickedUser.email"
                                       v-validate="'required|email|min:6'">
                                <span v-show="errors.has('Email')"
                                      class="error">{{ errors.first('Email') }}</span></td>
                        </tr>
                        <tr>
                            <th>Celular</th>
                            <th>:</th>
                            <td><input type="text" name="Celular" placeholder="Celular"
                                       v-model="clickedUser.mobile"
                                       v-mask="'(##) #####-####'">
                            </td>
                            </td>
                        </tr>
                    </table>
                    <div class="margin"></div>
                    <button class="center" @click="showingeditModal = false; updateUser()" :disabled="!isValidUpdate">
                        Alterar
                    </button>
                </form>
            </div>
        </div>
    </div>
    <!--FIM MODAL DE EDICAO-->

    <!-- MODAL DE DELECAO-->
    <div class="modal col-md-6" id="deletemodal" v-if="showingdeleteModal">
        <div class="modalheading">
            <p class="left">Deletar Registro</p>
            <p class="right close" @click="showingdeleteModal = false;">x</p>
            <div class="fix"></div>
        </div>
        <div class="modalbody">
            <div class="modalcontent">

                <div class="margin"></div>
                <h3 class="center">Quer realmente deletar esse registro?</h3>
                <div class="margin"></div>
                <h4 class="center">{{clickedUser.username}}</h4>
                <div class="margin"></div>
                <div class="col-md-6 center">
                    <button class="left" @click="showingdeleteModal = false; deleteUser()">Sim</button>
                    <button class="right" @click="showingdeleteModal = false;">Não</button>
                </div>
            </div>
        </div>
    </div>
    <!--FIM MODAL DE DELECAO-->

</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.js"></script>
<script src="config.js"></script>
<script type="text/javascript" src="app.js"></script>
</body>
</html>